#WORKBENCH_BACKEND
WORKBENCH_BACKEND_OPENAI_API_KEY=sk-proj-...
WORKBENCH_BACKEND_MONGO_URI=mongodb://localhost:27017/workbench

#DESIGNER_BACKEND 
DESIGNER_BACKEND_MONGO_URI=mongodb://localhost:27017/designer
